.change_theme{
    position: relative;
    /* width: auto; */
    /* height: 37px; */
    /* flex: 0.5 1 auto; */
    order: 5;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #0D0D0D; */
    margin-right: 5px;
    border-radius: 8px;
}
.change_theme_form span{
    color: #ffffff;
}
body.white .change_theme_form span{
    color: #000000;
    white-space: nowrap;
}
body.white .change_theme{
    margin-left:0;
}
.change_theme_form{
    display: block;
    padding-right: 80px;
    margin-bottom: 15px;
}
.change_theme .checkbox__label_theme{
    position: relative;
}

.change_theme input[type="checkbox"]:checked,.change_theme input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

body.white .change_theme .checkbox__label_theme:before {
    content: "";
    padding: 2px 17px 2px 2px;
    gap: 8px;
    position: absolute;
    width: 50px;
    height: 34px;
    left: 16px;
    top: -11px;
    background: #0d0d0d;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_6431_630)"><path d="M0.399902 10C0.399902 9.56269 0.762569 9.20002 1.1999 9.20002H2.7999C3.23724 9.20002 3.5999 9.56269 3.5999 10C3.5999 10.4374 3.23724 10.8 2.7999 10.8H1.1999C0.762569 10.8 0.399902 10.4374 0.399902 10ZM17.1999 10.8H18.7999C19.2372 10.8 19.5999 10.4374 19.5999 10C19.5999 9.56269 19.2372 9.20002 18.7999 9.20002H17.1999C16.7626 9.20002 16.3999 9.56269 16.3999 10C16.3999 10.4374 16.7626 10.8 17.1999 10.8ZM9.1999 1.20002V2.80002C9.1999 3.23736 9.56257 3.60002 9.9999 3.60002C10.4372 3.60002 10.7999 3.23736 10.7999 2.80002V1.20002C10.7999 0.762691 10.4372 0.400024 9.9999 0.400024C9.56257 0.400024 9.1999 0.762691 9.1999 1.20002ZM9.1999 17.2V18.8C9.1999 19.2374 9.56257 19.6 9.9999 19.6C10.4372 19.6 10.7999 19.2374 10.7999 18.8V17.2C10.7999 16.7627 10.4372 16.4 9.9999 16.4C9.56257 16.4 9.1999 16.7627 9.1999 17.2ZM3.2159 4.34669L4.34657 5.47736C4.6559 5.78669 5.1679 5.78669 5.47724 5.47736C5.78657 5.16802 5.78657 4.65602 5.47724 4.34669L4.34657 3.21602C4.03724 2.90669 3.52524 2.90669 3.2159 3.21602C2.90657 3.52536 2.8959 4.03736 3.2159 4.34669ZM14.5226 15.6534L15.6532 16.784C15.9626 17.0934 16.4746 17.0934 16.7839 16.784C17.0932 16.4747 17.0932 15.9627 16.7839 15.6534L15.6532 14.5227C15.3439 14.2134 14.8319 14.2134 14.5226 14.5227C14.2132 14.832 14.2132 15.344 14.5226 15.6534ZM15.6532 3.21602L14.5226 4.34669C14.2132 4.65602 14.2132 5.16802 14.5226 5.47736C14.8319 5.78669 15.3439 5.78669 15.6532 5.47736L16.7839 4.34669C17.0932 4.03736 17.0932 3.52536 16.7839 3.21602C16.4746 2.89602 15.9626 2.89602 15.6532 3.21602ZM4.34657 14.5227L3.2159 15.6534C2.90657 15.9627 2.90657 16.4747 3.2159 16.784C3.52524 17.0934 4.03724 17.0934 4.34657 16.784L5.47724 15.6534C5.78657 15.344 5.78657 14.832 5.47724 14.5227C5.1679 14.2134 4.6559 14.2134 4.34657 14.5227ZM15.3332 10C15.3332 12.944 12.9439 15.3334 9.9999 15.3334C7.0559 15.3334 4.66657 12.944 4.66657 10C4.66657 7.05602 7.0559 4.66669 9.9999 4.66669C12.9439 4.66669 15.3332 7.05602 15.3332 10Z" fill="%23737373"/></g><defs><clipPath id="clip0_6431_630"><rect width="19.2" height="19.2" fill="white" transform="translate(0.399902 0.400024)"/></clipPath></defs></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: 40px center;
    background-repeat: no-repeat;
}
body.white .change_theme .checkbox__label_theme:after{
    content: "";
    width: 30px;
    height: 30px;
    left: 20px;
    top: -7px;
    background: #181818;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 4px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2401 18H10.1601C9.06287 17.9917 7.97839 17.7645 6.9701 17.3318C5.96182 16.8991 5.05001 16.2695 4.28806 15.48C2.87513 13.9691 2.07196 11.9883 2.03355 9.91997C1.99514 7.85166 2.72421 5.84243 4.08006 4.28004C4.95356 3.30111 6.05168 2.5489 7.28006 2.08804C7.42338 2.03288 7.57956 2.02015 7.72993 2.05136C7.8803 2.08257 8.01851 2.1564 8.12805 2.26404C8.22951 2.3675 8.30096 2.49657 8.33477 2.63747C8.36859 2.77837 8.3635 2.9258 8.32005 3.06404C7.88162 4.26479 7.79475 5.56568 8.06965 6.81406C8.34455 8.06244 8.96981 9.20651 9.87205 10.112C10.7827 11.0115 11.9295 11.6347 13.1797 11.9093C14.4298 12.184 15.7322 12.0989 16.9361 11.664C17.0793 11.6136 17.234 11.605 17.382 11.6392C17.53 11.6735 17.6652 11.7492 17.7718 11.8574C17.8783 11.9656 17.9519 12.102 17.9838 12.2505C18.0157 12.399 18.0047 12.5536 17.9521 12.696C17.5434 13.787 16.905 14.7774 16.0801 15.6C15.3127 16.3651 14.4018 16.9709 13.3996 17.3828C12.3973 17.7947 11.3236 18.0044 10.2401 18Z" fill="%23F8E800"/></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: center;
    background-repeat: no-repeat;
}
.change_theme input:checked + .checkbox__label_theme:before {
    background: #f3f3f3;
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.23969 16H8.15969C7.06251 15.9916 5.97802 15.7645 4.96974 15.3317C3.96145 14.899 3.04964 14.2695 2.28769 13.48C0.874764 11.969 0.0715938 9.98826 0.0331823 7.91994C-0.00522919 5.85163 0.723841 3.8424 2.07969 2.28001C2.95319 1.30108 4.05131 0.548872 5.27969 0.0880072C5.42302 0.032854 5.57919 0.0201217 5.72956 0.0513306C5.87993 0.0825396 6.01815 0.156371 6.12769 0.264007C6.22914 0.367465 6.30059 0.496535 6.33441 0.637435C6.36822 0.778335 6.36314 0.925773 6.31969 1.06401C5.88125 2.26476 5.79439 3.56565 6.06929 4.81402C6.34419 6.0624 6.96944 7.20648 7.87169 8.11201C8.78234 9.01148 9.92914 9.63462 11.1793 9.90929C12.4295 10.184 13.7319 10.0989 14.9357 9.66401C15.079 9.61357 15.2337 9.60497 15.3817 9.63921C15.5296 9.67345 15.6648 9.74912 15.7714 9.85737C15.878 9.96562 15.9515 10.102 15.9834 10.2505C16.0154 10.399 16.0044 10.5535 15.9517 10.696C15.543 11.787 14.9046 12.7774 14.0797 13.6C13.3124 14.365 12.4014 14.9709 11.3992 15.3828C10.397 15.7947 9.32323 16.0044 8.23969 16Z" fill="%239D9D9D"/></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: 10px center;
    background-repeat: no-repeat;
}
.change_theme .checkbox__label_theme:before {
    content: "";
    padding: 2px 17px 2px 2px;
    gap: 8px;
    position: absolute;
    width: 50px;
    height: 34px;
    left: 16px;
    top: -11px;
    background: #0d0d0d;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_6431_630)"><path d="M0.399902 10C0.399902 9.56269 0.762569 9.20002 1.1999 9.20002H2.7999C3.23724 9.20002 3.5999 9.56269 3.5999 10C3.5999 10.4374 3.23724 10.8 2.7999 10.8H1.1999C0.762569 10.8 0.399902 10.4374 0.399902 10ZM17.1999 10.8H18.7999C19.2372 10.8 19.5999 10.4374 19.5999 10C19.5999 9.56269 19.2372 9.20002 18.7999 9.20002H17.1999C16.7626 9.20002 16.3999 9.56269 16.3999 10C16.3999 10.4374 16.7626 10.8 17.1999 10.8ZM9.1999 1.20002V2.80002C9.1999 3.23736 9.56257 3.60002 9.9999 3.60002C10.4372 3.60002 10.7999 3.23736 10.7999 2.80002V1.20002C10.7999 0.762691 10.4372 0.400024 9.9999 0.400024C9.56257 0.400024 9.1999 0.762691 9.1999 1.20002ZM9.1999 17.2V18.8C9.1999 19.2374 9.56257 19.6 9.9999 19.6C10.4372 19.6 10.7999 19.2374 10.7999 18.8V17.2C10.7999 16.7627 10.4372 16.4 9.9999 16.4C9.56257 16.4 9.1999 16.7627 9.1999 17.2ZM3.2159 4.34669L4.34657 5.47736C4.6559 5.78669 5.1679 5.78669 5.47724 5.47736C5.78657 5.16802 5.78657 4.65602 5.47724 4.34669L4.34657 3.21602C4.03724 2.90669 3.52524 2.90669 3.2159 3.21602C2.90657 3.52536 2.8959 4.03736 3.2159 4.34669ZM14.5226 15.6534L15.6532 16.784C15.9626 17.0934 16.4746 17.0934 16.7839 16.784C17.0932 16.4747 17.0932 15.9627 16.7839 15.6534L15.6532 14.5227C15.3439 14.2134 14.8319 14.2134 14.5226 14.5227C14.2132 14.832 14.2132 15.344 14.5226 15.6534ZM15.6532 3.21602L14.5226 4.34669C14.2132 4.65602 14.2132 5.16802 14.5226 5.47736C14.8319 5.78669 15.3439 5.78669 15.6532 5.47736L16.7839 4.34669C17.0932 4.03736 17.0932 3.52536 16.7839 3.21602C16.4746 2.89602 15.9626 2.89602 15.6532 3.21602ZM4.34657 14.5227L3.2159 15.6534C2.90657 15.9627 2.90657 16.4747 3.2159 16.784C3.52524 17.0934 4.03724 17.0934 4.34657 16.784L5.47724 15.6534C5.78657 15.344 5.78657 14.832 5.47724 14.5227C5.1679 14.2134 4.6559 14.2134 4.34657 14.5227ZM15.3332 10C15.3332 12.944 12.9439 15.3334 9.9999 15.3334C7.0559 15.3334 4.66657 12.944 4.66657 10C4.66657 7.05602 7.0559 4.66669 9.9999 4.66669C12.9439 4.66669 15.3332 7.05602 15.3332 10Z" fill="%23737373"/></g><defs><clipPath id="clip0_6431_630"><rect width="19.2" height="19.2" fill="white" transform="translate(0.399902 0.400024)"/></clipPath></defs></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: 40px center;
    background-repeat: no-repeat;
}

.change_theme .checkbox__label_theme:after {
    content: "";
    width: 30px;
    height: 30px;
    left: 20px;
    top: -7px;
    background: #181818;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 4px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.2401 18H10.1601C9.06287 17.9917 7.97839 17.7645 6.9701 17.3318C5.96182 16.8991 5.05001 16.2695 4.28806 15.48C2.87513 13.9691 2.07196 11.9883 2.03355 9.91997C1.99514 7.85166 2.72421 5.84243 4.08006 4.28004C4.95356 3.30111 6.05168 2.5489 7.28006 2.08804C7.42338 2.03288 7.57956 2.02015 7.72993 2.05136C7.8803 2.08257 8.01851 2.1564 8.12805 2.26404C8.22951 2.3675 8.30096 2.49657 8.33477 2.63747C8.36859 2.77837 8.3635 2.9258 8.32005 3.06404C7.88162 4.26479 7.79475 5.56568 8.06965 6.81406C8.34455 8.06244 8.96981 9.20651 9.87205 10.112C10.7827 11.0115 11.9295 11.6347 13.1797 11.9093C14.4298 12.184 15.7322 12.0989 16.9361 11.664C17.0793 11.6136 17.234 11.605 17.382 11.6392C17.53 11.6735 17.6652 11.7492 17.7718 11.8574C17.8783 11.9656 17.9519 12.102 17.9838 12.2505C18.0157 12.399 18.0047 12.5536 17.9521 12.696C17.5434 13.787 16.905 14.7774 16.0801 15.6C15.3127 16.3651 14.4018 16.9709 13.3996 17.3828C12.3973 17.7947 11.3236 18.0044 10.2401 18Z" fill="%23F8E800"/></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: center;
    background-repeat: no-repeat;
}

.change_theme input:checked + .checkbox__label_theme:after{
    left: 50px;
    background: #ffffff;
    background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_6431_1498)"><path d="M0.399902 9.99999C0.399902 9.56266 0.762569 9.19999 1.1999 9.19999H2.7999C3.23724 9.19999 3.5999 9.56266 3.5999 9.99999C3.5999 10.4373 3.23724 10.8 2.7999 10.8H1.1999C0.762569 10.8 0.399902 10.4373 0.399902 9.99999ZM17.1999 10.8H18.7999C19.2372 10.8 19.5999 10.4373 19.5999 9.99999C19.5999 9.56266 19.2372 9.19999 18.7999 9.19999H17.1999C16.7626 9.19999 16.3999 9.56266 16.3999 9.99999C16.3999 10.4373 16.7626 10.8 17.1999 10.8ZM9.1999 1.19999V2.79999C9.1999 3.23733 9.56257 3.59999 9.9999 3.59999C10.4372 3.59999 10.7999 3.23733 10.7999 2.79999V1.19999C10.7999 0.762661 10.4372 0.399994 9.9999 0.399994C9.56257 0.399994 9.1999 0.762661 9.1999 1.19999ZM9.1999 17.2V18.8C9.1999 19.2373 9.56257 19.6 9.9999 19.6C10.4372 19.6 10.7999 19.2373 10.7999 18.8V17.2C10.7999 16.7627 10.4372 16.4 9.9999 16.4C9.56257 16.4 9.1999 16.7627 9.1999 17.2ZM3.2159 4.34666L4.34657 5.47733C4.6559 5.78666 5.1679 5.78666 5.47724 5.47733C5.78657 5.16799 5.78657 4.65599 5.47724 4.34666L4.34657 3.21599C4.03724 2.90666 3.52524 2.90666 3.2159 3.21599C2.90657 3.52533 2.8959 4.03733 3.2159 4.34666ZM14.5226 15.6533L15.6532 16.784C15.9626 17.0933 16.4746 17.0933 16.7839 16.784C17.0932 16.4747 17.0932 15.9627 16.7839 15.6533L15.6532 14.5227C15.3439 14.2133 14.8319 14.2133 14.5226 14.5227C14.2132 14.832 14.2132 15.344 14.5226 15.6533ZM15.6532 3.21599L14.5226 4.34666C14.2132 4.65599 14.2132 5.16799 14.5226 5.47733C14.8319 5.78666 15.3439 5.78666 15.6532 5.47733L16.7839 4.34666C17.0932 4.03733 17.0932 3.52533 16.7839 3.21599C16.4746 2.89599 15.9626 2.89599 15.6532 3.21599ZM4.34657 14.5227L3.2159 15.6533C2.90657 15.9627 2.90657 16.4747 3.2159 16.784C3.52524 17.0933 4.03724 17.0933 4.34657 16.784L5.47724 15.6533C5.78657 15.344 5.78657 14.832 5.47724 14.5227C5.1679 14.2133 4.6559 14.2133 4.34657 14.5227ZM15.3332 9.99999C15.3332 12.944 12.9439 15.3333 9.9999 15.3333C7.0559 15.3333 4.66657 12.944 4.66657 9.99999C4.66657 7.05599 7.0559 4.66666 9.9999 4.66666C12.9439 4.66666 15.3332 7.05599 15.3332 9.99999Z" fill="%23FFD000"/></g><defs><clipPath id="clip0_6431_1498"><rect width="19.2" height="19.2" fill="white" transform="translate(0.399902 0.399994)"/></clipPath></defs></svg>');
    background-attachment: scroll;
    background-size: 19.2px;
    background-position: center;
    background-repeat: no-repeat;
}
.change_theme_line.mobile img{
    width: 25px;
}

.change_theme_line.mobile{
    display: none;
}

@media (max-width: 786px){
    .change_theme{
        display: none;
    }
}

@media (min-width: 787px) and (max-width: 1499px){
    .header-personal{
        margin-right: 30px !important;
    }
}
