body{
    background: black;
}

.welcome-blocks{
    background-color: #B6F0EC;
    width: 50%;
    height: 300px;
    border-radius: 16px;
    margin-right: 20px;
    display: flex; /* Делаем блок Flexbox-контейнером */
    flex-direction: column; /* Устанавливаем направление элементов в колонку */
    justify-content: center; /* Выравнивание по вертикали по центру */
    align-items: center; /* Выравнивание по горизонтали по центру */
}

.welcome-block-text{
    padding: 40px;
}

.hello-text{
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    color: #0D0D0D;
}

.descr-text{
    color: #0D0D0D;
    width: 60%;
}

.image-blocks{
    background-color: #FE6D40;
    display: inline-block;
    width: 50%;
    height: 300px;
    border-radius: 16px;
}

.new-employee-blocks{
    /* margin: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.new-employee-book{
    display: flex;
    position: relative;
    /* right: 50px; */
    top: -20px;
    float: right;
}

.new-employee-set{
    display: flex;
    position: relative;
    top: 84px;
}

.set-img{
    display: flex;
}

.new-employee-love{
    display: flex;
    position: relative;
    left: 60px;
    top: -200px;
}

.new-employee-main {
    display: flex; /* Изменено с inline-block на flex */
    justify-content: left; /* Выравнивает дочерние элементы по центру горизонтально */
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку, если они не помещаются */
    /* background: black; */
    width: 100%;
    height: auto; /* Убедитесь, что это свойство работает как ожидается */
    margin-left: auto;
    margin-right: auto;
}

.new-employee-main-blocks {
    display: inline-block; /* Это уже может быть необязательно, зависит от вашего дизайна */
    width: 33.3%;
    height: 300px;
    position: relative; /* Если вы используете абсолютное позиционирование внутри, это оставьте */
    margin-bottom: 40px;
}


.main-text{
    color: white;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
}

.main-points{
    color: grey;
    text-align: left;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.main-points:hover{
    color: #F8E800;
}

.new-employee-icon{
    display: flex;
    background: #181818;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.new-employee-icon img{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.new-employee-contact{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 16px;
    border: 1px solid var(--border-light, #353737);
    background: var(--bg-foreground, #181818);
    height: 150px;
    width: 33.3%;
}

.new-employee-contact h1{
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 125% */
    color: var(--text-primary, #F3F3F3);
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    margin: 0;
}

.new-employee-contact-manager {
    display: flex;
    align-items: flex-start;
    gap: var(--M, 10px);
    align-self: stretch;
}

.manager-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--XS, 4px);
    flex: 1 0 0;
    align-self: stretch;
    width: 220px;
    height: 45px;
}

.manager-name{
    color: white;
    margin: 0;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    color: var(--text-primary, #F3F3F3);
}

.manager-job{
    color: var(--text-secondary, #B9B9B9);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px; /* 110% */
    margin: 0;
}

.contact-btn{
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--S, 8px);
    background: var(--bg-accent-yellow, #F8E800);
}

@media (max-width: 1024px) {
.welcome-blocks{
    margin-right: 8px;
}

.new-employee-set {
    top: 83px;
    right: 20px;
}

.welcome-blocks .image-blocks{
    height: 245px;
}
.new-employee-book{
    width: 70%;
}
.new-employee-love{
    top: -230px;
}
.new-employee-set{
    top: 45px;
    right: 20px;
    height: 200px;
}
.hello-text{
    font-size: 24px;
}
.descr-text{
    font-size: 14px;
}
.main-text{
    font-size: 20px
}
.main-points{
    font-size: 14px;
}
.new-employee-contact h1{
    font-size: 20px;
}
.manager-name{
    font-size: 12px;
}
}

@media (max-width: 750px) {

.new-employee-main{
    flex-direction: column;
}
.new-employee-main-blocks{
    height: 20%;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.new-employee-icon{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.new-employee-icon img {
    width: 70%;
    height: 50%;
}
.new-employee-blocks{    
    flex-direction: column-reverse;
}
.welcome-blocks{
    width: 100%;
    height: 120px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-right: 0;
}
.image-blocks{
    width: 100%;
    height: 120px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.hello-text{
    font-size: 20px;
    line-height: 24px;
    width: 300px;
}
.descr-text{
    width: 80%;
    font-size: 10px;
    margin: 0;
}
.new-employee-set{
    height: 100px;
    left: 30px;
    top: 20px;
}
.new-employee-love{
    width: 70px;
    top: -100px;
    left: 90px;
}
.new-employee-book{
    width: 50%;
    right: 30px;
    top: 0;
}
.welcome-block-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-points{
    display: none;
    font-size: 14px;
}

.main-text{
    font-size: 16px;
}
}